:root {
  --charcoal: #11151c;
  --french-bristre: #7a6c5d;
  --almond: #ddc9b4;
  --silver-sand: #c0c5c1;
  --old-rose: #c17c74;
}

html {
  background-color: var(--silver-sand);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  background-color: var(--silver-sand);
}

.header {
  background-color: var(--charcoal);
  color: var(--almond);
}

.nav-list {
  list-style-type: none;
}

.nav-item {
  text-decoration: none;
  font-size: 2vw;
  font-weight: bold;
  color: var(--almond);
}

.nav-item:hover {
  color: var(--french-bristre);
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.section-name {
  padding-left: 5vw;
  text-align: left;
  font-size: 3vw;
}

.portfolio-img:hover {
  opacity: 75%;
}

.form-div {
  text-align: left;
}

.text-input {
  width: 25%;
}

.message-text {
  width: 50%;
}

.error-message {
  font-size: 1.3vw;
}

.submit-btn {
  color: var(--almond);
  background-color: var(--charcoal);
  border: 0;
  height: 3vw;
  width: 5vw;
}

.left-align {
  text-align: left;
}

.resume-text {
  text-align: left;
  font-size: 1.2vw;
}

.resume-link {
  text-decoration: none;
  color: #11151c;
}

.resume-link:hover {
  color: var(--french-bristre);
}

.footer {
  background-color: var(--charcoal);
}

.icon {
  font-size: 2vw;
}

.portfolio-icon {
  color: var(--charcoal);
}

.portfolio-icon:hover {
  color: var(--french-bristre);
}

.footer-icon {
  color: var(--almond);
}

.footer-icon:hover {
  cursor: pointer;
  color: var(--french-bristre);
}

@media screen and (max-width: 768px) {
  .nav-item {
    font-size: 5vw;
  }

  .about-img {
    max-width: 100%;
    height: auto;
  }

  .about-text {
    margin-bottom: 10vw;
  }

  .section-name {
    font-size: 10vw;
  }
}