:root {
  --charcoal: #11151c;
  --french-bristre: #7a6c5d;
  --almond: #ddc9b4;
  --silver-sand: #c0c5c1;
  --old-rose: #c17c74;
}

html {
  background-color: var(--silver-sand);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  background-color: var(--silver-sand);
}

.header {
  background-color: var(--charcoal);
  color: var(--almond);
}

.nav-list {
  list-style-type: none;
}

.nav-item {
  text-decoration: none;
  font-size: 2vw;
  font-weight: bold;
  color: var(--almond);
}

.nav-item:hover {
  color: var(--french-bristre);
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.about-me {
  padding-left: 5vw;
  text-align: left;
  font-size: 3vw;
}

.footer {
  background-color: var(--charcoal);
}

.icon {
  font-size: 2vw;
  color: var(--almond);
}

.icon:hover {
  cursor: pointer;
  color: var(--french-bristre);
}